<!DOCTYPE html>
<html>
    <head><title>home</title></head>
    {% include 'header.html' %}
    <body class="background">
        <div id="welcome">
            <div>
                <h2 class="row-1 text-light">welcome</h2>
                <p class="lead row-2 text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum reprehenderit, maiores quisquam ipsum fugiat at velit nulla possimus praesentium dolores</p>
                <a href="/browse_books/" class="btn btn-secondary btn-lg">Browse books</a> 
            </div>
        </div>
    </body>
</html>